@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: #f5f9ff;
}

.container__main {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  height: 100vh;
  width: 100vw;
}

//change scrollbar color and width

::-webkit-scrollbar-thumb {
  background-color: #5167f6;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
}

.square-box {
  width: 100px;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
  background-color: #F7F2F1;
  /* Set the background color as needed */
  border-radius: 10px;
  /* Adjust the border-radius to control the roundness of corners */
  position: absolute;
}

.square-box:first-child {
  z-index: 1;
  /* Set the stacking order for the first box */
  left: 20px;
  /* Adjust the position of the first box */
  top: 120px;
  /* Adjust the position of the first box */
}

.square-box:last-child {
  z-index: 1;
  /* Set the stacking order for the second box */
  left: 150px;
  /* Adjust the position of the second box */
  top: 120px;
  /* Adjust the position of the second box */
}

.content__container {
  padding: 2em;
  position: relative;
  overflow-y: scroll;
}

.content__container2 {
  padding: 2em;
  position: flex;
  overflow-y: scroll;
}

.content__container__content {
  height: calc(100% - 2em - 110px);
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.content__container__content:has(.content__container__content__entry) {
  justify-content: flex-start;
}

.content__container__content__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  max-width: 800px;
}

.content__container__content__under_entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 100px;
  padding-right: 1em;
  margin-right: 5px;
  width: 100%;
  max-width: 850px;
}

.content__container__content__entry__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.content__container__content__entry__title {
  font-size: 16px;
  font-weight: 600;
  color: #5167f6;
}

.content__container__content__entry__status__complete {
  color: #737373;
  font-size: 14px;
}

.content__container__content__entry__date {
  color: #737373;
  font-size: 14px;
}

.content__container__content__heading {
  font-size: 40px;
  color: #5167f6;
  margin-bottom: 0.3em;
}

.content__container__content__text {
  color: #a3aed0;
}

.content__container__content__entry__bottom__button {
  background-color: rgba(35, 83, 156, 0.0666666667);
  color: #5167f6;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

.content__container__content__entry__bottom__button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content__container__content__entry__bottom__button svg {
  margin-right: 0.5em;
}

.content__container__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.content__container__content__entry__bottom__button__secondary {
  background-color: rgba(255, 0, 0, 0.1647058824);
  color: #ff1717;
}

.content__container__bottom__content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.content__container__bottom__upload {
  margin-bottom: 1em;
  background-color: #5167f6;
  padding: 0.5em 1em;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  display: none;
}

.content__container__bottom__upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.content__container__bottom__upload:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content__container__bottom__upload:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
}

.content__container__bottom__upload svg {
  margin-right: 0.5em;
}

.content__container__bottom__search {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eff3fa;
  border-radius: 10px;
  overflow: hidden;
}

.content__container__bottom__search:focus-within {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #5167f6;
}

.content__container__bottom__search input {
  border-radius: 5px;
  padding: 1.5em;
  width: 100%;
  border: none;
  outline: none;
}

.content__container__bottom__search input :focus {
  border: none;
  outline: none;
}

.content__container__bottom__search__button {
  margin-right: 1em;
  background-color: #eff3fa;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content__container__bottom__search__button:hover {
  box-shadow: #5167f628 0px 8px 24px;
}

.content__container__bottom__search__button:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
}

.content__container__profile {
  display: flex;
  padding: 4em 1em 1em 1em;
  flex-direction: column;
  margin-bottom: 1em;
}

.content__container__content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__container__content__info__heading {
  font-size: 40px;
  color: #5167f6;
  font-weight: 600;
}

.content__container__content__info__location {}

.content__container__content__info__location {
  margin-bottom: 0.5em;
  color: #737373;
}

.content__container__content__info__icons a {
  margin-right: 0.7em;
  text-decoration: none;
  height: 25px;
  width: 25px;
}

.content__container__content__info__icons a svg {
  height: 22px;
  width: 22px;
}

.content__container__content__experience__item {
  display: flex;
  margin-bottom: 1em;
}

.content__container__content__experience__item__img {
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content__container__content__experience__item__img img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.content__container__content__experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.content__container__content__experience__heading {
  font-size: 20px;
  color: #5167f6;
  font-weight: 600;
  margin-bottom: 1em;
}

.content__container__content__experience__item__info {
  display: flex;
  flex-direction: column;
}

.content__container__content__experience__item__info__heading {
  font-size: 16px;
  font-weight: 600;
}

.content__container__content__experience__item__info__company {
  margin: 0.2em 0em;
}

.content__container__content__experience__item__info__company a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.content__container__content__experience__item__info__company,
.content__container__content__experience__item__info__duration {
  font-size: 14px;
}

.content__container__content__experience__item__info__company a:hover {
  color: #5167f6;
  text-decoration: underline;
}

.content__container__content__experience__item__info__duration {
  color: #737373;
}

.content__container__content__skills {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.content__container__content__skills__item {
  background-color: #eff3fa;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: #5167f6;
  font-size: 14px;
}

@media screen and (max-width: 1366px) {
  .content__container {
    padding: 1em;
  }
}